<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Voyager — Novo Departamento</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
</head>
<body>
<div th:replace="~{fragments/header.html :: navbar}"></div>
<div class="centered-content-page">
  <div class="main-box-page">
    <h2>Novo Departamento</h2>
    <form th:action="@{/departamentos/save}" th:object="${departamento}" method="post">
      <div style="margin-bottom:1rem">
        <label>Nome</label>
        <input type="text" th:field="*{nome}" class="form-input" required />
      </div>
      <button class="btn btn-primary">Salvar</button>
      <a class="btn" th:href="@{/departamentos}">Cancelar</a>
    </form>
  </div>
</div>
  <div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>
