<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <title th:insert="~{::title}">Voyager</title>
</head>
<nav th:fragment="navbar" class="navbar">
  <div class="container">
  <a class="brand" href="/" th:href="@{/}">Voyager</a>
    <div class="nav">
  <a href="/cargos" th:href="@{/cargos}">Cargos</a>
  <a href="/departamentos" th:href="@{/departamentos}">Departamentos</a>
  <a href="/funcionarios" th:href="@{/funcionarios}">Funcionários</a>
    </div>
  </div>
</nav>
